pre {
    min-height: 200px;
}
.service-add .wizard > .steps > ul > li {
    width: 33.33%;
}
.service-add .wizard > .content {
	min-height: 440px;
}
.border-bottom {
	border-bottom: 1px solid #eff2f7;
}

.plugin-card-top {
    min-height: 145px;
    padding: 10px 10px 5px;
    position: relative;
}
.product-box1 .info .btn{
	margin-top: 0;
	margin-bottom: 0;
}
p.description{
	margin: 10px 0;
}
.plugin-icon {
    border: 1px solid #dedede;
    height: 128px;
    left: 10px;
    margin: 0 20px 20px 0;
    padding: 6px;
    position: absolute;
    top: 10px;
    width: auto;
}
.plugin-card .desc, .plugin-card .name {
    margin-left: 138px;
}
.plugin-card h3 {
    font-size: 18px;
    line-height: 1.3;
    margin: 0 0 8px;
}
.plugin-card-bottom {
    background-color: #fafafa;
    border-top: 1px solid #dedede;
    clear: both;
    overflow: hidden;
    padding: 10px;
}
.plugin-card .column-downloaded, .plugin-card .column-rating {
    clear: left;
    float: left;
    max-width: 180px;
}
.plugin-card .column-rating {
    margin-bottom: 4px;
}
.plugin-card .column-rating {
    line-height: 14px;
}
.star-rating .star {
    color: #ffb900;
    display: inline-block;
    font-family: dashicons;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    vertical-align: top;
}
.plugin-card-bottom, .authors {
    font-size: 12px;
}
.plugin-card .btn {
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 10px 6px;
}
.plugin-card .column-compatibility, .plugin-card .column-updated {
    clear: right;
    float: right;
    text-align: right;
    width: calc(100% - 130px);
}
.dv-prod {
	background-color: #fff;
	border: 1px solid #dedede;
	box-sizing: border-box;
}
.plugin-card {
	margin-bottom: 20px;
}
.search-content input {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 230px;
}
.search-content input:focus {
    width: 250px;
}
.authors {
    margin-bottom: -3px;
    margin-top: -5px;
}
.logo img {
    height: 35px;
    margin-top: -5px;
}
.login-logo {
    display: block;
    height: 50px;
    margin: 10% auto 30px;
}
.setup-logo {
    display: block;
    height: 50px;
    margin: 15px auto -15px;
}