.sidebar-left, .header-section, .sb-right, footer, .btn {
    display: none !important;
}


.body-content {
    margin-left: 0!important;
    width: 100% !important;
    margin-top: -60px !important;
}

.amount {
    font-size: 30px !important;
    padding-left: 0 !important;
}

.invoice h1 {
    font-size: 32px;
}